<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Geo|Lato&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
			<div class="header">
					<div class="wrapper">
						<nav class="head-nav">
							<div class="head-brand">
								<img src="Rocket-Boy-(Poza-3).png">
							</div>
							<div class="nav-list">
								<ul>
									<li><a href="">Package</a></li>
									<li><a href="">Cases</a></li>
									<li><a href="">About Us</a> </li>
								</ul>
							</div>
						</nav>
						<div class="head-title">
							<h1>Welcome ! This is our latest package . </h1>
						</div>
					</div>
				
			</div>
			<div class="wrap-body">
				<div class="body-container">
					<div class="item item-1">
						<div class=" image-1"><img class="image" src="1.jpg"></div>
						<div class="description description-1">
							<h2>Process : </h2>
							<p class="text">Firstlywe do a mini website-audit and check if your website is SEO local optimized. </p>
							<p class="text">We give you recommendations , write meta tags for all your local parameters . </p>
							<p class="text">We submit on ~200-300 NAP (Name, Adress , Phone Number ) websites and form correct  the post. </p>
							<p class="text">After that we wait for the post approval .</p>
						</div>
					</div>
					<div  id="app" class="item item-2">
						<span @click='decrement' class="btn-span btn-span-left"><button class="left" ></button></span>
						
							<div v-if="counter === 0" class="carousel">
								<div class=" description-2">
									<h2>First Case </h2>
								</div>
								<div class=" image-2"><img class="image" src="11.jpg"></div>
							</div>
							<div v-if="counter === 1" class="carousel">
								<div class=" description-2">
									<h2>Second Case </h2>
								</div>
								<div class=" image-2"><img class="image" src="22.jpg"></div>
							</div>
							<div v-if="counter === 2" class="carousel">
								<div class=" description-2">
									<h2>Third Case </h2>
								</div>
								<div class=" image-2"><img class="image" src="33.jpg"></div>
							</div>
							<div v-if="counter === 3" class="carousel">
								<div class=" description-2">
									<h2>Fourth Case </h2>
								</div>
								<div class=" image-2"><img class="image" src="44.jpg"></div>
							</div>
						
						<span class="btn-span btn-span-right" @click='increment'><button class="right" ></button></span>
					</div>
					<div class="item item-3">
						
						<div class=" image-3"><img class="image" src="3.jpg"></div>
						<div class="description description-3">
							<h2>What we got :</h2>
							<p class="text">~50 live links that were auto approved or were approved in a few time . </p>
							<p class="text">The list with credentials and websites where the posts were approved.</p>
							<h2>NOTE: </h2>
							<p class="text">A lot of websites , require telephone number confirmation or company email .</p>
							<p class="text">The client should give us this information . </p>
							<p class="text">The confirmation depends direct of the client if the post is approved , because he has to do it thru email or telephone number. </p>
							<p class="text">These kind of posts can not be spamed , so these are more authoritative , they can guarantee not only positions, but also quality traffic.</p>
						</div>
						
					</div>
					<div class="item item-4">
						
						<div class=" image-3"><img class="image" src="3.jpg"></div>
						<div class="description description-3">
							<h2>Attention :</h2>
								<p class="text">No matter the niche , we  guarantee positive results if your website is well SEO optimized .  </p>
								<p class="text">WE DO NOT ACCEPT next niches : XXX , Gambling , Pharma …</p>
						</div>
						
					</div>
				</div>
				
			</div>
			<div class="buy-button">
				<a id="buy-btn-lb" href="http://www.google.com">
					<input id="buy-btn" type="button" name="Buy" value="BUY" alt="Buy button">
				</a>
			</div>
			<div class="footer">
				<div class="footer-conainer">
					<div class="row footer-menu">
						<div class="col-6">
							<h4 class="title">Product</h4>
							<ul>
								<li class="footer-list"><a class="links" href="https://crork.com/services">Services</a></li>
								<li class="footer-list"><a class="links"  href="https://crork.com/portfolio">Portfolio</a></li>
								<li class="footer-list"><a class="links"  href="https://crork.com/cases">Cases</a></li>
							</ul>
						</div>
						<div class="col-6">
							<h4 class="title">Company</h4>
							<ul>
								<li class="footer-list"><a class="links" href="https://crork.com/about">About</a></li>
								<li class="footer-list"><a class="links" href="https://crork.com/contact">Contact</a></li>
								<li class="footer-list"><a class="links" href="https://crork.com/testimonials">Testimonials</a></li>
								<li class="footer-list"><a class="links" href="https://crork.com/blog">Blog</a></li>
							</ul>
						</div>
						<div class="col-6">
							<h4 class="title">Learn More</h4>
							<ul>
								<li class="footer-list"><a class="links" href="https://crork.com/affiliate">Affiliate program</a></li>
								<li class="footer-list"><a class="links" href="https://crork.com/page/terms-of-service">Terms of Service</a></li>
								<li class="footer-list"><a class="links" href="https://crork.com/page/privacy-policy">Privacy Policy</a></li>
								<li class="footer-list"><a class="links" href="https://crork.com/faq">FAQ</a></li>
							</ul>
						</div>
						<div class="col-6">
							<h4 class="title">Connect with Us</h4>
							<ul>
			                    <li class="footer-list"><a class="social links" href="https://www.facebook.com/CrorkServiceTeam/" target="_blank">Facebook</a> <a class="" href="https://www.facebook.com/CrorkServiceTeam/" target="_blank"><img class="" src="https://crork.com/img/soc-fb.png" alt=""></a></li>
			                    
			                    <li class="footer-list"><a class="social links" href="https://twitter.com/crork" target="_blank">Twitter</a> <a class="" href="https://twitter.com/crork" target="_blank"><img src="https://crork.com/img/soc-twitter.png" alt=""></a></li>
			                    <li class="footer-list"><a class="social links" href="https://www.instagram.com/crork_seo/" target="_blank">Instagram</a> <a class="" href="https://www.instagram.com/crork_seo/" target="_blank"><img src="https://crork.com/img/soc-insta.png" alt=""></a></li>
			                </ul>

						</div>
					</div>
				</div>
			</div>
		
	</div>



	<script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="vue.js"></script>
</body>
</html>