*{
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	height: auto;
	background-color: #fff;
}

.body-container{
	display: flex;
    flex-direction: column;
}

.wrapper{
	width: 80%;
	height: auto;
	display: flex;
	margin: auto;
    flex-direction: column;
}

.header{
	width: 100%;
	height: 400px;
	display: flex;	
    flex-direction: column;
}	

.head-nav{
	height: 100px;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	margin-top: 20px;
}

.head-brand{
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.head-brand img{
	width: 150px;
	height: 100%;

}

.nav-list{
	width: 70%;
	height: 100%;
	padding-right: 60px;
}

.nav-list ul{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
    align-items: center;
}

.nav-list ul li{
	list-style-type: none;
	min-width: 15%;
	display: flex;
	justify-content: center;
	height: 50px;
    align-items: center;
    height: 100%;
}

.nav-list ul li a{
	font-size: 20px;
	color: #111;
	text-align: center;
	text-decoration: none;
	font-family: Lato;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 20px;
	width: 100%;
	justify-content: center;
}

.nav-list ul li a:hover{
	color: red;
}

.nav-list ul li:hover {
	background:rgba(138,133,138,0.1);

}

.head-title{
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.head-title h1{
	font-family: geo;
	text-transform: uppercase;
	font-size: 60px;
	text-align: center;
}

.wrap-body{
	height: auto;
	background-color: white;
	display: flex;
	justify-content: center;
	background-image: url(5.jpg);
	background-size: cover;
    background-position: center;
}


.item{
	width: 80%;
	height: 500px;
	padding: 50px 20px;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin: 50px;
	justify-content: space-between;
	background-color:#fff;
}

.item-2{
	align-self: center;
	display: flex;
   	justify-content: space-between;
   	padding: 50px 0;
   	width: 100%;
   	margin:0;
}

.hide{
	display: none;
}

.btn-span{
	width: 5%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-span-left:hover{
	background-color: rgba(0,0,0,0.1);
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}

.btn-span-right:hover{
	background-color: rgba(0,0,0,0.1);
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
}

.carousel{
	width: 90%;
    height: 450px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20px;
}

.left{
	width: 30px;
	height: 30px;
	transform: rotate(45deg);
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	border-top: none;
    background: none;
    border-right: none;
    outline: none;

}

.right{
	width: 30px;
	height: 30px;
	transform: rotate(45deg);
	border-right: 2px solid black;
	border-top: 2px solid black;
	border-left: none;
    border-bottom: none;
    background: none;
    outline: none;
}

.item-3{
	margin-bottom: 50px;
	height: auto;
	align-self: flex-end;
}

.item-4{
	align-self: flex-end ;
	}

.image-1{
	width: 40%;
	max-height: 500px;
}

.image-2{
	width: 80%;
	height: 400px;
}

.image-2 img{
	object-fit: contain;
	margin-top: 0;
	padding-top: 0;
	height: 450px;
}

.image-3{
	width: 40%;
	max-height: 500px;
}

.description{
	width: 50%;
	height: 100%;
	padding-right: 25px;
}

.description-2{
	padding:20px 0;
	height: 50px;
}

.image{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.footer{
	padding-top: 48px;
    background-color: #151d1f;
    color: #fff;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.footer-conainer{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer-menu {
	display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    z-index: 5;
    position: relative;
    justify-content: space-around;
}

.title{
	font-family: Lato;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.social-ic{
	display: flex;
	align-items: center;
}

.title ul{
    padding: 0;
    margin: 0;
}

.footer-list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.links{
    color: #fff;
    font-family: Lato;
    font-size: 18px;
    line-height: 32px;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.text{
	margin-top: 20px;
	font-size: 20px;
	line-height: 1.6;
	padding: 10px;
}

.text-buy{
	font-size: 20px;
	padding: 10px;
	font-family: Lato;
	text-align: center;
}

.text::before{
	content: '';
    margin-right: 15px;
    background: black;
    width: 13px;
    height: 13px;
    display: inline-block;
}



.col-6 ul li img {
    height: 20px;
    position: relative;
    top: -4px;
    display: inline-block;
    vertical-align: middle;
}

.social{
	width: 120px;
}

#buy-btn{
    display: inline-block;
    border-radius: 0px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 20px 40px;
    font-size: 18px;
    border: none;
    box-shadow: none;
    margin-top: 10px;
    cursor: pointer;
    line-height: 1em;
    width: auto;
    float: left;
}

#buy-btn:hover{
    background-color: #000;
    color: #FFF;
    box-shadow: 0 0 10px #719ECE;
}

#buy-btn-lb{
    width: auto;
    padding-top: 20px;
}

.buy-button{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px 0 50px 0;
}

.navbar-toggler{
	display: none;
}
	
@media  (max-width: 800px) {


	.col-6{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
		flex-direction: column;
		align-items: center;
	}

	.item-1{
		flex-direction: column-reverse;
	}

	.item-3{
		margin-bottom: 0;
	}

	

	.item-2{
		flex-direction: column;
	}

	.item{
		height: auto;
		padding: 0;
		border-radius:0;
		width: 100%;
		display: flex;
   		justify-content: center;
   		box-shadow: none;
   		margin: 0;

	}
	.image-1{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.description{
		width: 95%;
		padding-right: 0;
	}
	.image-2{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.image-3{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.image {
	    width: 100%;
	    max-height: 500px;
	    object-fit: cover;
	    border-top-left-radius: 0;
	    border-bottom-right-radius: 0;
	}

	.item h2{
		padding-top: 20px;
	}

	.footer-conainer{
		padding: 0;
		margin:0;
	}

	.row{
		padding: 0;
		margin:0;
	}

	p{
		font-size: 30px;
	}

	#buy-btn{
		width: 100%;
   		height: 100%;
	}

	#buy-btn-lb{
		width: 200px;
	}

	.btn-span{
		width: 100%;
	}
	.btn-span:hover{
		border-radius: 0;
	}
}

@media (min-width: 801px) and (max-width: 1400px){

	.item{
		width: 90%;
		padding: 0;
	}

	.item-2{
		width: 100%;
	}

	.item-3{
		height: auto;
	}
	.text{
		font-size: 16px;
	}

	.text::before{
		padding:0 7px;
	}

	.item-4{
		align-self: center;
	}

	.image-1 , .image-3 {
		height: 80%;
	}
}
